Perfil id:{{model.id}} <br>
Perfil titulo: {{model.titulo}}
<br>
<br>
<div>
  {{#link-to "pessoa.perfis.editar" model.id}}<button type="submit" class="btn btn-primary">Editar</button>{{/link-to}}
</div>
